#####################################################################
#   Macros
#####################################################################
[bed_mesh]
#STATUS_LEVELING
speed: 200
horizontal_move_z: 6
##--------------------------------------------------------------------
##	Uncomment for 350mm build
mesh_min: 40, 40    #40, 40
mesh_max: 310,310

#mesh_min: 30, 16    #40, 40
#mesh_max: 330,326
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 7,7  #5,5
algorithm: bicubic
#relative_reference_index: 24  #13 puvodne 24
#STATUS_READY

[gcode_macro QGL]
gcode:
    G28
    STATUS_LEVELING
    QUAD_GANTRY_LEVEL
    G28
    ##  Uncomment for for your size printer:
    #--------------------------------------------------------------------
    ##  Uncomment for 250mm build
    #G0 X125 Y125 Z30 F3600
    
    ##  Uncomment for 300 build
    #G0 X150 Y150 Z30 F3600
    
    ##  Uncomment for 350mm build
    #G0 X175 Y175 Z30 F3600
    G90
    G0 X175 Y175 Z30 F10800
    STATUS_READY
    #--------------------------------------------------------------------

[homing_override]
axes: xyz
gcode:
  {% set tilted = printer.quad_gantry_level.applied|default("false")|lower %}

  {% if tilted == "false" %}
      SET_KINEMATIC_POSITION Z=0
      G91
      G1 Z5 F1200
  {% endif %}

  {% set home_all = 'X' not in params and 'Y' not in params and 'XY' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params or 'XY' in params %}
    _HOME_X
  {% endif %}

  {% if home_all or 'Y' in params or 'XY' in params %}
    _HOME_Y
  {% endif %}

  {% if home_all or 'Z' in params %}
    G90
    G1 X175 Y175 F6600 ## toto je pro 350 verzi, přepište si zde vaši velikost, jinak to nebude dělat home uprostřed
    G28 Z
    G1 Z10
  {% endif %}
      
[gcode_macro PRINT_START]
gcode:       
    # Parameters
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Předchozí dva řádky nám vytvořily proměnné BED_TEMP a EXTRUDER_TEMP, a doplnily je hodnotami ze Sliceru
    # V případě že slicer hodnoty nepředá, nastaví se defaultně 190 pro hotend, a 60 pro bed
    # Enable lights
    LIGHTS_10
    #SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=1
    # Nastavení teplot
    # M104 nám nastaví teplotu na 150 stupňů. Je to teplota, kdy se dá očistit tryska a filament "neslintá"
    STATUS_HEATING
    M104 S150
    # M190 nám nastaví teplotu bedu na hodnotu, kterou do makra předal slicer. A čekáme než se nahřeje bed
    M190 S{BED_TEMP}
    # M109 nastaví teplotu hotendu na hodnotu, kterou nám do makra předal slicer a čeká na její dosažení
    M109 S150 ; Set non dripping hotend temperature
    STATUS_HOMING
    G28 # Home if needed
    # UG90 nám přepne na absolutní koordináty
    G90
    # M83 přepne extruder na relativní vzdálenosti
    M83
    STATUS_CLEANING
    CLEAN_NOZZLE # clean nozzle before home to ensure clean home
    G91
    G1 Y-20 F6000
    G90
    G28 Z # Home Z only after clean nozzle
    # POZOR - G32 je makro pro voron 2.4 a předpokládá se, že jej máte. Pro pořádek jsem jej přidal za PRINT_END
    # Toto makro nám zařídí homování a vyrovnání gantry u V2.4, pokud máte jinou tiskárnu, následující řádek smažte
    STATUS_LEVELING
    G32
    # BED_MESH_CLEAR nám vymaže předchozí uložené hodnoty meshe, chceme začínat s čistým štítem
    BED_MESH_CLEAR
    # A následující příkaz nám zkalibruje podložku pomocí sensoru (bltouch, indukční sensor, crtouch, klicky a jiné)
    STATUS_MESHING
    BED_MESH_CALIBRATE
    STATUS_HEATING
    # G1 je gcode pro pohyb. Nyní přesuneme trysku do levého spodního rohu 5mm nad podložku
    G1 X3 Y6 Z5 F5000
    # Nyní sjedeme tryskou 0,3mm nad podložku
    G1 Z0.3 F3000
    
    # Nyní čekáme na nahřátí trysky na hodnotu předanou slicerem
    M109 S{EXTRUDER_TEMP}
    
    # Resetování vzdálenosti extruderu
    G92 E0
    
    # Očištění trysky. Následující gcode nám pomalu posunuje trysku 14cm doprava a extruder vytlačí 30mm filamentu
    # První pohyb je pomalejší a delší (až do 12cm), a následuje rychlé očištění 2 cm na výsledných 14 cm
    G1 X120 E30 F600
    G1 X140 F5000
    G92 E0
    # Následně před samotným tiskem proběhne krátká retrakce a resetování vzdálenosti extruderu
    G1 E-0.2 F600
    G92 E0

    M117 Printing...
    M117

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M221 S100 ; set speed back to if speedup print 100%
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 100, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-20.0 F3000                ; retract filament
    
    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2}
    #G91
    #G1 Z50 F900
    #G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    ##STATUS_CLEANING
    ##G1 X75 Y350 Z10 F3600        ; Move to purge bucket location 
    #CLEAN_NOZZLE
    #BED_MESH_CLEAR
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    # disable lights
    LIGHTS_OFF
    STATUS_READY


[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M221 S100 ; set speed back to if speedup print 100%
    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 100, th.axis_maximum.z]|min %}
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-20.0 F3000                ; retract filament
    
    TURN_OFF_HEATERS

    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2}
    #G91
    #G1 Z50 F900
    #G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    ##STATUS_CLEANING
    ##G1 X75 Y350 Z10 F3600        ; Move to purge bucket location 
    #CLEAN_NOZZLE
    #BED_MESH_CLEAR
    SET_FILAMENT_SENSOR SENSOR=filament_sensor ENABLE=0
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    # disable lights
    LIGHTS_OFF
    STATUS_READY


[gcode_macro M600]
gcode:
    {% set X = params.X|default(150)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(15)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state


[gcode_macro Presnost_TAP]
gcode:
    STATUS_CALIBRATING_Z
    M117 Probe accuracy
    PROBE_ACCURACY
    M117
    STATUS_READY

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    ##	Uncomment for for your size printer:
    #--------------------------------------------------------------------
    ##	Uncomment for 250mm build
    #G0 X125 Y125 Z30 F3600
    
    ##	Uncomment for 300 build
    #G0 X150 Y150 Z30 F3600
    
    ##	Uncomment for 350mm build
    G0 X175 Y175 Z30 F3600
    #--------------------------------------------------------------------

# Conditional G28 (home if not already homed)

# Park center of build volume
[gcode_macro PARKCENTER]
gcode:
	CG28                                  																						; home if not already homed
	SAVE_GCODE_STATE NAME=PARKCENTER
	G90                                   																						; absolute positioning
	G0 X{printer.toolhead.axis_maximum.x/2} Y{printer.toolhead.axis_maximum.y/2} Z{printer.toolhead.axis_maximum.z/2} F19500	
	RESTORE_GCODE_STATE NAME=PARKCENTER

[gcode_macro BACKUP_CFG]
 description: Backs up config directory GitHub
 gcode:
     RUN_SHELL_COMMAND CMD=backup_cfg

[gcode_macro ZUP]
#   My Addition G-Code
gcode:
    SET_GCODE_OFFSET Z_ADJUST=0.01 MOVE=1   ; move closer during print to adjust squish
    
[gcode_macro ZDOWN]
#   My Addition G-Code
gcode:
    SET_GCODE_OFFSET Z_ADJUST=-0.01 MOVE=1

[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83                    # set extruder to relative extrusion
    G90                    # set toolhead to absolute position
    #G1 Z80 F100000         
    G1 X250 Y50 F100000    # move up and to front/center to straighten filament path
    G1 E3  F300            # extrude slowly to soften tip of filament
    G1 E-30 F100000        # quickly yank filament back clear of hotend
    G1 E-80 F1800          # ensure filament is clear of extruder gears
    M82                    # set extruder to absolute extrusion

[gcode_macro LOAD_FILAMENT]
gcode:
    M83                    # set extruder to relative extrusion
    G90                    # set toolhead to absolute position
    #STATUS_PRINTING
    #G1 Z80 F100000
    G1 X250 Y50 F100000    # move up and to front/center to straighten filament path
    G1 E35 F300            # extrude filament through into hotend
    G1 E15 F240            # slowly extrude through hotend to partially purge previous filament
    G1 E-15.0 F100000      # retract filament
    M82                    # set extruder to absolute extrusion

[gcode_macro PURGE_LINE]
gcode:

  G0 X340 Y50 F3000              ; Go to side
  G0 Z0.25                      ;
  G1 E15 F200                    ; purge blob
  G92 E0                        ; zero the extruded length
  G1 Y330 E7.5 F800              ; Extrude purge line
#  G1 Y300 E-.1 F800              ; Retract while wiping on purged line
  G1 Z4 

[gcode_macro SFS_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    M117 ENABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro SFS_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    M117 DISABLING the Smart Filament Sensor
    G92 E0
    SET_FILAMENT_SENSOR SENSOR=SFS_T0 ENABLE=0 ; Put your filament sensor's name after SENSOR=

[gcode_macro SWIPENOZZLE]
gcode:
	;G28
	SAVE_GCODE_STATE NAME=SWIPENOZZLE
	G90																; absolute positioning
	G0 X85 Y350 Z15 F1500												; move nozzle into positioning
	G0 Z8 F1500														; lower nozzle into brush
	G0 X120 F5000													; swipe nozzle once to right
	G0 X175 Z25 F1500	

#Lighting Control
[gcode_macro lights_on]
gcode:
    SET_PIN PIN=caselight VALUE=1.0

[gcode_macro lights_off]
gcode:
    SET_PIN PIN=caselight VALUE=0

[gcode_macro lights_10]
gcode:
    SET_PIN PIN=caselight VALUE=0.1